h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333333;
}

body {
    position: relative;
    left: 30px;
    top: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #333333;
    background-color: #FFFFFF;
}


#picture {
    position: relative;
    left: 30px;
    background: url(img/bathroom.png);
    width: 1100px;
    height: 429px;

}

button {
    font-size: 18px;
    opacity: 0.0;
    position: absolute;
}

button:hover {
    opacity: 0.6;
}

#toilet {
    left: 80px;
    top: 250px;
    width: 80px;
    height: 160px;
}

#shampoo {
    left: 220px;
    top: 160px;
    width: 100px;
    height: 70px;
}

#leftsink {
    left: 390px;
    top: 210px;
    width: 100px;
    height: 60px;
}

#rightsink {
    left: 590px;
    top: 210px;
    width: 100px;
    height: 60px;
}

#bathtub {
    left: 725px;
    top: 315px;
    width: 280px;
    height: 100px;
}

#bathrobe {
    left: 710px;
    top: 70px;
    width: 120px;
    height: 220px;
}

#toothbrush {
    left: 550px;
    top: 165px;
    width: 30px;
    height: 60px;
}

#hairdryer {
    left: 500px;
    top: 120px;
    width: 40px;
    height: 40px;
}

#pills {
    left: 540px;
    top: 230px;
    width: 20px;
    height: 40px;
}