h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333333;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #333333;
    background-color: #F9F9F9;
}

/******  DIVS  ******/

#game {
    position: absolute;
    left: 250px;
    top: 80px;
    width: 800px;
    height: 429px;
}

#instructions {
    position: absolute;
    left: 900px;
    top: 50px;
    width: 400px;
    display: none;
}

#doors {
    position: absolute;
    top: 75px;
    left: 75px;
    display: none;
}

#back {
    display: none;
}

#score {
    position: absolute;
    left: 250px;
    top: 20px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    background: #CC0000;
}

#bedroom {
    display: none;
    background: url(img/bedroom.png);
}

#kitchen {
    display: none;
    background: url(img/Simple_Kitchen.png);
}

#livingroom {
    display: none;
    background: url(img/livingroom.png);
}

#bathroom {
    display: none;
    background: url(img/bathroom.png);
}

#survey {
    position: relative;
    left: 50px;
    display: none;
    width: 650px;
}

.continueButton {
    position: absolute;
    left: 250px;
    top: 100px;
    font-size:16px;
    background-color: #2f6627;
    padding: 6px;
    border:1px solid #18ab29;
    color:#ffffff;
}

.continueButton:hover {
    background-color: #18ab29;
}

#continue{
    display: none;
}

/******  GAME SCREEN  ******/

.door {
    position: absolute;
    display: block;
    width: 115px;
    height: 180px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: url(img/door_close.png);
    background-repeat: no-repeat;
}

.door:hover {
    background: url(img/door_open.png);
    background-repeat: no-repeat;
}

#bedroom_door {
}

#kitchen_door {
    top: 350px;
}

#livingroom_door {
    left: 650px;
}

#bathroom_door {
    left: 650px;
    top: 350px;
}

#score {
}

#dead {
    display: none;
    color: #FF0000;
    font-weight: bold;
    position: absolute;
    left: 100px;
    top: 100px;
}

#eor {
    display: none;
    color: #FF0000;
    font-weight: bold;
    position: absolute;
    left: 100px;
    top: 100px;
}


/******* ROOM SCREENS (GENERAL) *****/

.room {
    position: relative;
    left: 30px;
    top: 80px;
    width: 1100px;
    height: 429px;
}

.roombutton {
    font-size: 18px;
    opacity: 0.0;
    position: absolute;
}

.roombutton:hover {
    opacity: 0.6;
}

.backbutton {
    position: absolute;
    left: 50px;
    top: 30px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    background: #4a34d9;
}

.backbutton:hover {
    background: #3420b3;
}

#back_button {
}

#artcredit {
    position: absolute;
    left: 50px;
    top: 520px;
    font-size: 10px;
}

/******BEDROOM ******/

#chestleft {
    left: 65px;
    top: 120px;
    width: 145px;
    height: 260px;
}

#chestright {
    left: 890px;
    top: 120px;
    width: 145px;
    height: 260px;
}

#alarmclock {
    left: 300px;
    top: 270px;
    width: 30px;
    height: 40px;
}

#phone_bedroom {
    left: 580px;
    top: 270px;
    width: 30px;
    height: 40px;
}

#bed {
    left: 340px;
    top: 220px;
    width: 230px;
    height: 180px;
}

#window {
    left: 355px;
    top: 110px;
    width: 200px;
    height: 110px;
}

#mirror {
    left: 750px;
    top: 170px;
    width: 60px;
    height: 120px;
}

#luggage {
    left: 900px;
    top: 40px;
    width: 120px;
    height: 70px;
}


/****** LIVING ROOM ******/

#grandfatherclock {
    left: 270px;
    top: 100px;
    width: 90px;
    height: 300px;
}

#pictureframe {
    left: 90px;
    top: 200px;
    width: 60px;
    height: 70px;
}

#phone_livingroom {
    left: 185px;
    top: 235px;
    width: 55px;
    height: 40px;
}

#fire {
    left: 490px;
    top: 270px;
    width: 230px;
    height: 70px;
}

#television {
    left: 520px;
    top: 110px;
    width: 170px;
    height: 100px;
}

#encyclopedia {
    left: 970px;
    top: 155px;
    width: 75px;
    height: 60px;
}

#speaker {
    left: 880px;
    top: 170px;
    width: 90px;
    height: 40px;
}

#plant2 {
    left: 145px;
    top: 150px;
    width: 50px;
    height: 120px;   
}

#plant3 {
    left: 995px;
    top: 225px;
    width: 55px;
    height: 60px;
}



/******* KITCHEN *******/

#dishwasher {
    left: 230px;
    top: 275px;
    width: 110px;
    height: 152px;
}

#cabinet {
    left: 510px;
    top: 35px;
    width: 85px;
    height: 120px;
}

#stove {
    left: 355px;
    top: 255px;
    width: 155px;
    height: 170px;
}

#cuttingboard {
    left: 108px;
    top: 170px;
    width: 52px;
    height: 80px;
}

#knife {
    left: 160px;
    top: 170px;
    width: 10px;
    height: 75px;
}

#fridge {
    left: 780px;
    top: 135px;
    width: 110px;
    height: 195px;
}

#freezer {
    left: 780px;
    top: 330px;
    width: 110px;
    height: 100px;
}

#plant1 {
    left: 780px;
    top: 100px;
    width: 110px;
    height: 40px;
}

#microwave {
    left: 595px;
    top: 190px;
    width: 120px;
    height: 70px;
}

#toaster {
    left: 910px;
    top: 195px;
    width: 75px;
    height: 65px;
}

#kettle {
    left: 985px;
    top: 195px;
    width: 85px;
    height: 65px;
}

#sink {
    left: 280px;
    top: 160px;
    width: 40px;
    height: 90px;
}

#soap {
    left: 320px;
    top: 180px;
    width: 30px;
    height: 70px;
}

#littlepot {
    left: 365px;
    top: 205px;
    width: 55px;
    height: 50px;
}

#bigpot {
    left: 510px;
    top: 190px;
    width: 80px;
    height: 70px;
}


/****** BATHROOM ******/
#toilet {
    left: 80px;
    top: 250px;
    width: 80px;
    height: 160px;
}

#toiletbrush {
    left: 25px;
    top: 300px;
    width: 25px;
    height: 115px;
}

#shampoo {
    left: 220px;
    top: 160px;
    width: 100px;
    height: 70px;
}

#leftsink {
    left: 390px;
    top: 210px;
    width: 100px;
    height: 60px;
}

#rightsink {
    left: 590px;
    top: 210px;
    width: 100px;
    height: 60px;
}

#bathtub {
    left: 725px;
    top: 315px;
    width: 280px;
    height: 100px;
}

#bathrobe {
    left: 710px;
    top: 70px;
    width: 120px;
    height: 220px;
}

#toothbrush {
    left: 550px;
    top: 165px;
    width: 30px;
    height: 60px;
}

#hairdryer {
    left: 500px;
    top: 120px;
    width: 40px;
    height: 40px;
}

#medicine {
    left: 540px;
    top: 230px;
    width: 20px;
    height: 40px;
}

#plant4 {
    left: 50px;
    top: 120px;
    width: 60px;
    height: 70px;
}

#plant5 {
    left: 500px;
    top: 30px;
    width: 80px;
    height: 80px;
}

#plant6 {
    left: 1005px;
    top: 85px;
    width: 60px;
    height: 70px;
}